:root {
  --main-bg-color: #fffff;
}

body {
  background-color: var(--main-bg-color);
}

a {
  color: #007acc;
}

.dark-mode {
  font-size: 1.6rem;
}

.dark-mode:hover {
  cursor: pointer;
}

blockquote {
  color: #007acc;
  border-left: 0.32813rem solid #007acc;
}

footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}